﻿@model NetSalaryCalculator


<div class="container" style="padding-top:80px;">
    <h1 style="color:darkgoldenrod; text-align:center"><b>Calculator salariu net</b></h1>
    <p style="color:darkgrey; text-align:center">Calculator salariu aplica reglementarile anului fiscal 2020, ultima actualizare fiind pe 7 ianuarie 2019.</p>
    <br />
    <form asp-controller="NetSalaryCalculator" asp-action="Index" method="post" role="form" style="color:darkgoldenrod; text-align:center" class="form-inline">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <input asp-for="GrossSalary" class="form-control" placeholder="Introduceti salariul brut" />
            @*<span asp-validation-for="SalarBrut" class="text-danger"></span>*@
        </div>
        <button type="submit" class="btn btn-warning">Calculeaza</button>
    </form>
</div>

